type USBMiddleMan, coredomain;
type USBMiddleMan_exec, exec_type, file_type, system_file_type;

init_daemon_domain(USBMiddleMan)

allow USBMiddleMan_exec USBMiddleMan_exec:file { entrypoint };
allow USBMiddleMan_exec USBMiddleMan_exec:udp_socket { read };
allow USBMiddleMan_exec USBMiddleMan_exec:unix_dgram_socket { write };
allow USBMiddleMan_exec init:fd { use };
allow USBMiddleMan_exec logd:unix_dgram_socket { sendto };
allow USBMiddleMan_exec null_device:chr_file { write };
allow USBMiddleMan_exec usb_device:chr_file { ioctl };
allow init USBMiddleMan_exec:process { transition };
allow logd USBMiddleMan_exec:dir { search };
allow logd USBMiddleMan_exec:file { open };
allow logd USBMiddleMan_exec:file { read };
allow system_server USBMiddleMan_exec:dir { search };
allow system_server USBMiddleMan_exec:file { open };
allow system_server USBMiddleMan_exec:file { read };

